127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Main network
192.168.0.139       pc-cent.pc.local    pc-cent

# Local Containers
192.168.122.238		plex.pc.local	    plex
192.168.122.22		nginx.pc.local	    nginx