127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Main network
192.168.0.139       pc-cent.pc.local        pc-cent         cent
192.168.0.3         pc-nuc.pc.local         pc-nuc          nuc
192.168.0.10        pc-minecraft.pc.local   pc-minecraft    mc

# Virtual Machines

# Local Containers
192.168.122.238		plex.pc.local	    plex
192.168.122.91		nginx.pc.local	    nginx