[/script/shootergame.shootergamemode]
PerLevelStatsMultiplier_Player[7]=5
PerLevelStatsMultiplier_DinoTamed[7]=5
PerLevelStatsMultiplier_DinoTamed_Add[7]=5
PerLevelStatsMultiplier_DinoTamed_Affinity[7]=5
PerLevelStatsMultiplier_DinoWild[7]=5
PerLevelStatsMultiplier_DinoWild_Add[7]=5
PerLevelStatsMultiplier_DinoWild_Affinity[7]=5
bPvEDisableFriendlyFire=true
MatingIntervalMultiplier=0.2
EggHatchSpeedMultiplier=5.0
BabyMatureSpeedMultiplier=5.0
