 web:
   image: 'gitlab/gitlab-ce:latest'
   hostname: 'gitlab.pcbot.local'
   environment:
     GITLAB_OMNIBUS_CONFIG: |
       external_url 'http://gitlab.pcbot.local'
       # Add any other gitlab.rb configuration here, each on its own line
   ports:
     - '80:80'
     - '443:443'
     - '22:22'
   volumes:
     - '/srv/gitlab/config:/etc/gitlab'
     - '/srv/gitlab/logs:/var/log/gitlab'
     - '/srv/gitlab/data:/var/opt/gitlab'
